
#ignore all packages because they're huge and awful
packages
bin
obj
.vs/Digits/v15/.suo
App11/App11.Android/App11.Android.csproj.bak
App11/App11.Android/App11.Android.csproj.user
App11/App11.iOS/App11.iOS.csproj.user
UpgradeLog.htm
